# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/public/boostrap.css



/src/style.css.map
/src/app.css.map
/src/Pages/Registration/Registration.css.map
/src/Pages/Registration/Registration.css
/src/Pages/Profile/profile.css
/src/Pages/Profile/profile.css.map
/src/Pages/Login/login.css
/src/Pages/Login/login.css.map
/src/Pages/Home/home.css
/src/Pages/Home/home.css.map
/src/Pages/Components/Rightbar/rightbar.css
/src/Pages/Components/Rightbar/rightbar.css.map
/src/Pages/Components/Post/post.css
/src/Pages/Components/Post/post.css.map
/src/Pages/Components/Navbar/navbar.css
/src/Pages/Components/Navbar/navbar.css.map
/src/Pages/Components/Leftbar/leftbar.css
/src/Pages/Components/Leftbar/leftbar.css.map
/src/Pages/Components/comments/comments.css
/src/Pages/Components/comments/comments.css.map
/src/Pages/Components/Post/post.css
/src/Pages/Components/Post/post.css.map
/src/Pages/Components/Post/posts.css
/src/Pages/Components/Post/posts.css.map


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
