@import "../../../style.scss";
.rightbar{
    @include themify($themes){
    flex: 3;
    position: sticky;
    top: 71px;
    height: 100vh;
    overflow: scroll;
    padding-top: 10px;
    
    &::-webkit-scrollbar{display: none;}
   

    .container {
        padding: 20px;
        border:  1px solid themed("border");
        margin-right: 20px;
        border-radius: 10px;
        margin-top: 20px;
        background-color: themed("bg");
        .item{
            margin-bottom: 20px;
            .MemuTag{
                color: #aeaeae;
            }

            .user{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 20px 0px;


                .userInfo{
                    display: flex;
                    align-items: center;
                    gap:10px;

                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                .span {
                    color: themed("textColor");
                }
                }
            }

            .trend{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 20px 0px;
                cursor: pointer;
                color: themed("textColor");

                .trendingNumber{
                    font-size: 11px;
                    color: #aeaeae;
                }
            }
            .trend:hover{
                color: themed("textLinkColor");
            }
        }
    }

    .footer{
        font-size: 11px;
        margin-top: 20px;
        display: flex;
        margin-bottom: 220px;
        color: themed("textColor");
    }

    .followName{
        color: themed("textColor");
    }

    .hrColor{
      border-bottom: 1px solid themed("border");
      border-top: none;
      border-left: none;
      border-right: none;
      margin-top: 20px;
      margin-bottom: 20px;
    }
}



}