@import "../../../style.scss";

.navbar {
    @include themify($themes){
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding-top: 10px;
   padding-bottom: 10px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: themed("bg");
    z-index: 5;
   
    .left{
        display: flex;
        align-items: center;
        gap: 20px;
        padding-left: 20px;
        .search{
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid themed("border");
            border-radius: 30px;
            padding: 10px;
            input{
                border: none;
                width: 300px;
                background-color: transparent;
                color: themed("textColor");
            }
        }
    }

  

    .right{
        display: flex;
        align-items: center;
        gap: 20px;
        padding-right: 20px;

        .user{
            display: flex;
            align-items: center;
            gap: 20px;
            font-weight: bold;
            span{
                color: themed("textColor");
                cursor: pointer;
            }
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }


    .Nav-Icon{
        color: themed("textColor");
        cursor: pointer;
    }
}
}

